/* Material ICONS */

:root {
  --blue: #06a3da;
}
hr {
  width: 90%;
  height: 2.5px;
  background-color: var(--blue);
  border: 0;
}

.container-fluid {
  display: flex !important;
  flex-direction: column !important;
  min-height: 95vh !important;
  justify-content: space-between;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 80vh;
}

.nav-wrapper a {
  padding: 10px;
}

button {
  margin: 2px;
}

.bottom {
  position: absolute;
  left: 0;
  bottom: 0;
}
